{% extends '../../base.html' %}
{% load static %}

{% block content %}
  <form method="POST" class="form-container">
    {% csrf_token %}

    <div class="form-header">
      <h1>Forgot Password?</h1>
    </div>
    <div class="form-box p-relative">
      <div class="input-group p-relative">
        <input type="email" id="email" name="email" class="input-field" placeholder="" required />
        <label for="email" class="floating-label">Email address</label>
      </div>
      <button type="submit">Send Reset Link</button>
    </div>
  </form>
{% endblock %}










